/* For large screens above 1000px: */
.chatbot-basic .react-chatbot-kit-chat-container {
    width: 60%;

    /* 100vh = screen height | 24px = chatbot padding | 52px = chatbot margin | 80px = mobile navigation height*/
    /* 20px spacing */
    height: calc(100vh - 205px); /* 24 + 52 + 80 + 20 = 176 */

    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

/* For (mobile) screens up to 1000px: */
@media screen and (max-width: 1000px) {
    .chatbot-basic .react-chatbot-kit-chat-container {
        width: 100%;
    }
}

/* From 0 pixels up to 725, i.e. when navigation is at the bottom: */
@media screen and (max-width: 725px) {
    .chatbot-basic .react-chatbot-kit-chat-input-container {
        position: relative;
    }
}


.chatbot-basic .react-chatbot-kit-chat-inner-container {
    height: 100%;
}

.chatbot-basic .react-chatbot-kit-chat-header {
    display: none;
}

.react-chatbot-kit-chat-input-container {
}

.chatbot-basic .react-chatbot-kit-chat-message-container {
    height: 80%;
    overflow: auto;
}

.chatbot-basic .react-chatbot-kit-chat-input {
}

.chatbot .react-chatbot-kit-chat-input:focus {
    outline: none;
    box-shadow: none;
}

.react-chatbot-kit-chat-input-form {
}

.react-chatbot-kit-chat-input::placeholder {
}

.react-chatbot-kit-chat-btn-send {
}

.react-chatbot-kit-chat-btn-send-icon {
}

.react-chatbot-kit-chat-bot-message-container {
}

.react-chatbot-kit-chat-bot-avatar-container {
}

.react-chatbot-kit-chat-bot-avatar-icon {
}

.react-chatbot-kit-chat-bot-avatar-letter {
}

.chatbot-basic .react-chatbot-kit-chat-bot-message {
    background-color: oklch(97.9% 0.021 166.113);
    color: black;
    margin-left: 0;
    max-width: 60%;
    width: fit-content;
}

.chatbot-help .react-chatbot-kit-chat-bot-message {
    background-color: oklch(97.9% 0.021 166.113);
    color: black;
    margin-left: 0;
    max-width: 60%;
    width: fit-content;
}

.chatbot-basic .react-chatbot-kit-chat-bot-message-arrow {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid oklch(97.9% 0.021 166.113);
    position: absolute;
    left: -7px;
    top: 13px;
}

.chatbot-help .react-chatbot-kit-chat-bot-message-arrow {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid oklch(97.9% 0.021 166.113);
    position: absolute;
    left: -7px;
    top: 13px;
}

.chatbot-basic .react-chatbot-kit-user-chat-message {
    background-color: oklch(97.7% 0.013 236.62);
    color:black;
    max-width: 60%;
    width: fit-content;
}

.chatbot-help .react-chatbot-kit-user-chat-message {
    background-color: oklch(97.7% 0.013 236.62);
    color:black;
    max-width: 60%;
    width: fit-content;
}

.chatbot-basic .react-chatbot-kit-user-chat-message-arrow {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid oklch(97.7% 0.013 236.62);
    position: absolute;
    right: -7px;
    top: 13px;
}

.chatbot-help .react-chatbot-kit-user-chat-message-arrow {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid oklch(97.7% 0.013 236.62);
    position: absolute;
    right: -7px;
    top: 13px;
}

/* Hide user avatar */
.react-chatbot-kit-user-avatar-container,
.react-chatbot-kit-user-avatar-icon,
.react-chatbot-kit-user-avatar {
    display: none !important;
}

.react-chatbot-kit-chat-bot-loading-icon-container {
}

.chatbot-loader-container {
}

#chatbot-loader #chatbot-loader-dot1 {
}

#chatbot-loader #chatbot-loader-dot2 {
}

#chatbot-loader #chatbot-loader-dot3 {
}

.react-chatbot-kit-error {
}

.react-chatbot-kit-error-container {
}

.react-chatbot-kit-error-header {
}

.react-chatbot-kit-error-docs {
}