@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";

body {
  background: white;
}

@theme {
  --color-blue-figma: #CAF0F0;
  --color-medium-blue-figma: #a9ecec;
  --color-gray-figma: #4A4A4A;

  --breakpoint-desktop: 725;
}

